= form_for @newsitem do |f|
  - if @newsitem.errors.any?
    #error_explanation
      %h2= "#{pluralize(@newsitem.errors.count, "error")} prohibited this newsitem from being saved:"
      %ul
        - @newsitem.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :date
    = f.date_select :date
  .field
    = f.label :title
    = f.text_field :title
  .field
    = f.label :content
    = f.text_area :content
  .field
    Author
    = f.collection_select :committee_id, Committee.all, :id, :position
  .actions
    = f.submit 'Save'
