%h1 Events

- @eventitems.each do |eventitem|
  .row-fluid
    .span10.offset1
      %h3= eventitem.title
      %h4= eventitem.date.to_s :oems_standard
      %h5 Venue: #{eventitem.venue}
      %p= eventitem.content
      %h6 Author: #{[eventitem.committee.title, eventitem.committee.firstname, eventitem.committee.surname, eventitem.committee.position].to_sentence(:words_connector => " ", :last_word_connector => ", ")}