= form_for @committee do |f|
  - if @committee.errors.any?
    #error_explanation
      %h2= "#{pluralize(@committee.errors.count, "error")} prohibited this committee from being saved:"
      %ul
        - @committee.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :title
    = f.text_field :title
  .field
    = f.label :firstname
    = f.text_field :firstname
  .field
    = f.label :surname
    = f.text_field :surname
  .field
    = f.label :position
    = f.text_field :position
  .actions
    = f.submit 'Save'
