%p#notice= notice

%p
  %b Title:
  = @committee.title
%p
  %b Firstname:
  = @committee.firstname
%p
  %b Surname:
  = @committee.surname
%p
  %b Position:
  = @committee.position

%p
  %b Event items submitted:  

%ul
  -@committee.eventitems.each do |eventitem|
    %li
      #{eventitem.title}
      (#{eventitem.date})

%p
  %b News items submitted:  

%ul
  -@committee.newsitems.each do |newsitem|
    %li
      #{newsitem.title}
      (#{newsitem.date})

= link_to 'Edit', edit_committee_path(@committee)
\|
= link_to 'Back', committees_path
