%h1 Listing eventitems

%table
  %tr
    %th Date
    %th Venue
    %th Title
    %th Content
    %th
    %th
    %th

  - @eventitems.each do |eventitem|
    %tr
      %td= eventitem.date
      %td= eventitem.venue
      %td= eventitem.title
      %td= eventitem.content
      %td= link_to 'Show', eventitem
      %td= link_to 'Edit', edit_eventitem_path(eventitem)
      %td= link_to 'Destroy', eventitem, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Eventitem', new_eventitem_path
