%p#notice= notice

%p
  %b Date:
  = @eventitem.date
%p
  %b Venue:
  = @eventitem.venue
%p
  %b Title:
  = @eventitem.title
%p
  %b Content:
  = @eventitem.content

= link_to 'Edit', edit_eventitem_path(@eventitem)
\|
= link_to 'Back', eventitems_path
