.carousel.slide{:id => "myCarousel_#{id}", "data-interval" => "false"}
  %ol.carousel-indicators
    - images.each_with_index do |image, index|
      - if index == 0
        %li.active{"data-slide-to" => index, "data-target" => "#myCarousel_#{id}"}
      - else
        %li{"data-slide-to" => index, "data-target" => "#myCarousel_#{id}"}
  .carousel-inner
    - images.each_with_index do |image, index|
      - if index == 0
        .item.active
          =image_tag image.thumblink
          .carousel-caption
            %p
              %a{href: image.imglink, target: "_blank"}
                = image.caption
      - else
        .item
          =image_tag image.thumblink
          .carousel-caption
            %p
              %a{href: image.imglink, target: "_blank"}
                = image.caption
  %a.carousel-control.left{"data-slide" => "prev", :href => "#myCarousel_#{id}"} ‹
  %a.carousel-control.right{"data-slide" => "next", :href => "#myCarousel_#{id}"} ›