.navbar
  .navbar-inner
    .container
      = link_to 'Home', root_path, class: 'brand'
      %ul.nav.pull-left
        %li.divider-vertical
        %li
          = link_to 'About', home_about_path
        %li.divider-vertical
        %li
          = link_to 'News' , home_news_path
        %li.divider-vertical
        %li.dropdown
          %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
            Events
            %b.caret
          %ul.dropdown-menu
            %li= link_to 'OEMS', home_events_path
            %li= link_to 'Eton College', home_eton_path
        %li.divider-vertical
        %li
          = link_to 'Committee', home_committee_path
      %ul.nav.pull-right
        %li
          = link_to 'Contact', contact_new_path
        %li.divider-vertical
        %li
          = link_to 'Members\' Database', home_members_path
