!!!
%html{lang: "en-GB"}
  %head
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %title The Old Etonian Medical Society
    = stylesheet_link_tag "application"
    = javascript_include_tag "application"
    = csrf_meta_tags
    = analytics_init if Rails.env.production?
  %body
    .container-fluid
      = render partial: 'layouts/navigation'
      = yield
    :javascript
      Shadowbox.init();
    .footer
      .container-fluid
        %p{:align => "center"} <sub>Copyright 2013 - <a href="http://doctor.rpatel.co.uk" target="_blank">Dr Rashmi Patel</a></sub>
